@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
body {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#main-search {
  position: relative; }
  #main-search input {
    height: 91px;
    background: #FFFFFF;
    border: none;
    padding: 0 49px 0 34px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #4F4F4F; }
  #main-search button {
    cursor: pointer;
    width: 17px;
    height: 16px;
    text-indent: -9999px;
    border: none;
    background: url("./../images/ico-search.svg") no-repeat 0/100%;
    position: absolute;
    right: 36px;
    top: 50%;
    transform: translate(0, -50%); }
